<div class="main-container container">
  <div class="row fondo-peli" *ngIf="pelicula">

    <div class="col-md-4">
      <div class="row">
        <div class="img-peli" [ngStyle]="{'background-image': 'url('+(pelicula|imagenpelicula:true)+')'}">

        </div>
      </div>
    </div>
    <div class="col-md-6 txt-peli">
      <div class="row">
        <div class="col-md-12">
          <h2>{{pelicula.original_title}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <p><strong>Sinopsis</strong></p>
          </div>
          <div class="row">
            <p>{{pelicula.overview}}</p>
          </div>
          <div class="row">
            <p><strong>Género</strong></p>
          </div>
          <div class="row">
            <p>{{pelicula.genres[0].name}}</p>
          </div>
          <div class="row">
          </div>
        </div>
      </div>
    </div>
    <div class="col align-self-end">
      <button type="button" name="button" class="btn btn-danger right" [routerLink]="['/'+pagina, busqueda ]">Volver</button>
    </div>
  </div>
</div>
